* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0 1.5rem;
}

.main-header-container {
    max-width: 1400px;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

header .logo {
    width: 130px;
    transform: translateY(4px);
    margin-right: 8px;
}

header .mobile-menu-btn {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 4px;
    display: none;
    cursor: pointer;
}

header .mobile-menu-btn svg{
    transform: translateY(2px);
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 0.7rem;
}

header #search-form {
    flex-grow: 1;
    /* position: relative; */
}

header .search-wrapper {
    border-radius: 20px;
    background-color: #E0E0E0;
    width: 100%;
    max-width: 340px;
    padding-left: 10px;
}

header .search-wrapper svg {
    transform: translateY(4px);
}

.search-input {
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #E0E0E0;
    height: 33px;
    outline: none;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 4px;
    padding: 1rem 0;
    font-size: 0.8rem;
    width: 90%;
}

.home-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.quick-find-section {
    padding: 3.5rem 0 3.5rem 1.5rem;
    max-width: 900px;
    width: 100%;
    margin: auto;
    text-align: right;
}

.quick-find-section a {
    text-decoration: none;
}

.quick-find-section a:not(.quick-find-card) {
    text-decoration: none;
    font-size: 1rem;
    color: #1C1C1C;
    font-weight: 600;
    margin-bottom: 1.5rem;
    display: inline-block;
    padding-right: 1.5rem;
}

.link-arrow svg {
    transform: translateY(2px);
}

.quick-find-container {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.quick-find-container::-webkit-scrollbar {
    display: none;
}

.quick-find-card {
    text-align: left;
}

.quick-find-card:last-of-type {
    margin-right: 1.5rem;
}

.quick-find-card img {
    width: 200px;
    display: block;
    height: 210px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.quick-find-card h3 {
    width: 100%;
    background-color: #414141;
    padding: 0.8rem;
    color: #fff;
    font-size: 1.3rem;
}

.banner {
    background-color: #F99336;
    padding: 7rem 1.5rem;
    color: #ffffff;
    background: linear-gradient(74deg, #F99336 50%, #fff0 50%);
    position: relative;
}

.banner-thin {
    padding: 3rem 1.5rem;
}

.banner-container {
    max-width: 1100px;
    margin: auto;
}

.banner-headline-conatiner {
    width: 48%;
    padding-right: 3rem;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 800;
    width: fit-content;
    margin-left: auto;
}

.banner .banner-subheadline {
    max-width: 310px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    margin-left: auto;
    margin-top: 0.5rem;
}

.banner-img {
    width: 60%;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -5;
    object-fit: cover;
    object-position: bottom center;
    display: block;
}

.banner-thin .banner-img {
    object-position: center;
}

.events-container {
    max-width: calc(940px + 3rem);
    margin: auto;
    display: flex;
    gap: clamp(2rem, 7vw, 8rem);
    padding: 4rem 1.5rem;
}

.find-tickets-btn {
    text-decoration: none;
    border: 1px solid #F99336;
    border-radius: 6px;
    color: #1C1C1C;
    font-size: 0.6rem;
    font-weight: 900;
    padding: 0.4rem 1rem;
}

.filter-options-contianer h3 {
    font-size: 1rem;
    color: #1C1C1C;
    font-weight: 900;
    margin-bottom: 0.5rem;
    margin-top: 6px;
}

.filter-options-contianer ul {
    list-style: none;
}

.filter-options-contianer ul li {
    margin-top: 0.1rem;
}

.filter-options-contianer ul li a {
    text-decoration: none;
    font-size: 0.7rem;
    color: #1C1C1C;
    font-weight: 600;
}

.events-list-container {
    flex-grow: 1;
}

.event-item-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-top: 1.2rem;
}

.event-item-container:first-of-type {
    margin-top: 0;
}

.event-title-container {
    flex-grow: 1;
}

.event-date {
    color: #F99336;
    font-size: 0.7rem;
}

.event-day,
.event-venue {
    margin-top: 4px;
    font-size: 0.5rem;
}

.event-title {
    font-size: 0.7rem;
    font-weight: 900;
}

.show-more-events-btn {
    font-size: 0.8rem;
    background-color: #fff;
    margin: auto;
    display: block;
    margin-top: 3rem;
    cursor: pointer;
}

.mobile-fixed-filter-btn {
    border: none;
    background-color: #F99336;
    color: #fff;
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    position: sticky;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    display: none;
}

.content-container {
    max-width: 700px;
    margin: auto;
    padding: 4rem 1.5rem 8rem 1.5rem;
}

.content-container h2,
.events-list-container h2,
.sm-container h2 {
    font-size: 1.3rem;
    color: #1C1C1C;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.content-container p,
.content-container ul {
    font-size: 0.7rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    color: #000;
}

.content-container ul {
    margin-left: 16px;
}

.content-container ul li::marker {
    color: #F99336;
    font-size: 1.1rem;
}

.content-container button {
    border: none;
    background-color: #F99336;
    color: #fff;
    border-radius: 6px;
    padding: 0.7rem 1.7rem;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.sm-container {
    max-width: calc(600px + 3rem);
    padding: 6rem 1.5rem;
    margin: 0 auto;
    text-align: center;
}

.sm-container h2 {
    font-size: clamp(1.2rem, 5vw, 1.6rem);
}

.sm-container form {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-end;
    margin: 1.5rem 0 2rem 0;
}

.sm-container form .form-item,
.sm-container form input {
    flex-basis: 33%;
}

.sm-container form input {
    height: 35.6px;
    border-radius: 8px;
    outline: none;
    background-color: #F99336;
    color: #ffffff;
    font-weight: 600;
    border: none;
    font-size: 0.9rem;
}

.sm-container form .form-item select {
    border: 1px solid #F99336;
    border-radius: 8px;
    outline: none;
    padding: 8px 15px 8px 12px;
    font-size: 0.9rem;
    color: #000;
    font-weight: 600;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('/assets/imgs/select_arrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    background-size: 10px;
}

.sm-container form .form-item select option,
.sm-container form .form-item select option::selection {
    font-size: 0.9rem;
    color: #000;
    font-weight: 600;
}

.sm-container p {
    font-size: 0.7rem;
    max-width: 530px;
    margin: 0 auto;
    line-height: 1.5;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: flex-start;
}

.form-item label {
    color: #F99336;
    font-size: 1rem;
    width: fit-content;
}

footer {
    background-color: #414141;
    width: 100%;
    padding: 2rem 1.5rem 6rem 1.5rem;
}

.footer-container {
    max-width: 940px;
    margin: auto;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0.5rem 0;
}

footer ul:last-of-type {
    border-top: 1px solid #ffffff;
    max-width: fit-content;
}

footer ul .menu-item {
    padding: 0 1rem;
}

footer ul .menu-item:first-of-type {
    padding-left: 0;
}

footer a {
    /* color: #DCE7ED; */
    color: #ffffff;
    font-size: 0.7rem;
    text-decoration: none;
}

.menu-item-bold {
    font-weight: 600;
}

@media only screen and (max-width: 1085px) {
    .main-header-container {
        max-width: 340px;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    #search-form {
        margin-top: 0.5rem;
    }

    header nav ul {
        gap: 1rem;
        flex-direction: column;
        height: 100vh;
        width: 250px;
        z-index: 99;
        left: -250px;
        top: 0;
        background-color: #fff;
        position: fixed;
        padding:  0.5rem 1.5rem 1.5rem 1.5rem;
        align-items: flex-start;
        transition: transform 500ms ease-in-out;
    }

    header nav ul .mobile-close-item {
        align-self: flex-end;
    }

    #mobile-close-btn {
        display: block;
    }

    #mobile-open-btn {
        display: block;
    }

    .mobile-menu-active {
        transform: translateX(250px);
    }

    .mobile-menu-overlay-active {
        overflow: hidden;
    }

    .mobile-menu-overlay-active::after {
        content: '';
        width: 100%;
        height: 100vh;
        background-color: #1c1c1cc0;
        position: absolute;
        inset: 0 0 0 0;
    }
}

@media only screen and (max-width: 1050px) {

    .quick-find-section {
        order: 2;
    }

    .banner {
        background-color: #F99336;
        padding: 0;
        order: 1;
    }

    .banner .banner-subheadline {
        max-width: 260px;
        font-size: 1.2rem;
        margin: 0.5rem auto 0 auto;
        text-align: center;
    }

    .banner-headline-conatiner {
        width: 100%;
        padding: 1rem 1.5rem;
    }

    .banner h1 {
        width: 100%;
        text-align: center;
        font-size: clamp(1.8rem, 5vw, 2.1rem);
    }

    .banner-img {
        width: 100%;
        height: 30vw;
        max-height: 180px;
        position: static;
        z-index: -5;
        object-fit: cover;
        object-position: center;
    }
}

@media only screen and (max-width: 885px) {
    footer ul {
        flex-direction: column;
        padding: 1.5rem 0;
    }

    footer ul:last-of-type {
        max-width: 100%;
    }

    footer ul .menu-item {
        padding: 1.5rem 0 0 0;
    }

    footer ul .menu-item:first-of-type {
        padding: 0 0 0 0;
    }
}

@media only screen and (max-width: 600px) {
    .sm-container {
        padding: 2rem 1.5rem 6rem 1.5rem;
    }

    .sm-container form {
        flex-direction: column;
    }

    .sm-container form .form-item,
    .sm-container form input {
        flex-basis: 100%;
        width: 100%;
    }

    .sm-container form input {
        min-height: 34px;
    }
}

@media only screen and (max-width: 500px) {
    .filter-options-contianer {
        display: none;
    }
    
    .mobile-fixed-filter-btn {
        display: block;
    }
}

@media only screen and (max-width: 410px) {
    .find-tickets-btn {
        display: none;
    }
}